<div class="row">
    <div ng-repeat-start="show in shows | filter:query | orderBy:'title'" class="col-lg-{{partition.size}}">
        <div class="thumbnail">
            <img ng-if="show.images[0]" ng-src="{{'/images/shows/' + show.images[0].path}}" />
            <div class="caption">
                <h2>{{show.title}}</h2>
                <p ng-if="show.desc">{{show.desc}}</p>
                <p>
                    <button ng-click="popupFindEpisodes(show)" data-toggle="modal" data-target="#findEpisodeModal" 
                        class="btn btn-primary" role="button">Find Episodes</button>
                </p>
            </div>
        </div>
    </div>
    <div ng-repeat-end="" ng-if="$index % partition.count == partition.size" class="clearfix"></div>
</div>
<div id="findEpisodeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="findEpisodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="closeFindEpisodes()" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="findEpisodeModalLabel">{{findEpisodesFor.title}}</h4>
            </div>
            <div class="modal-content">
                <!--Add iframe-->
            </div>
        </div>
    </div>
</div>
