<div class="row">
    <div class="col-lg-4" ng-repeat="show in shows">
        <div class="thumbnail">
            <img ng-if="show.images[0]" src="{{'/images/shows/' + show.images[0].path}}" />
            <div class="caption">
                <h2>{{show.title}}</h2>
                <p ng-if="show.desc">{{show.desc}}</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Find Episodes</a>
                </p>
            </div>
        </div>
    </div>
</div>
